.app-shell {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
}

.app-shell-content {
  margin-left: var(--sidebar-w);
  min-height: 100vh;
  min-height: 100dvh;
  transition: margin-left 0.2s ease;

  &.collapsed {
    margin-left: var(--sidebar-w-collapsed);
  }
}

@media (max-width: 980px) {
  .app-shell-content {
    margin-left: 0 !important;
  }
}

@media print {
  .app-shell-content {
    margin-left: 0 !important;
  }
}
